// Profile details
manifest {
    author = "Anh Phuong Le (Phuong)"
    name = "process_sanger_lcm-nf"
    description = "Pipeline for filtering LCM artifacts and germline mutations post LCMB. Contact Phuong at al35@sanger.ac.uk."
    version = "0.1"
}

// pipeline params
params {

  // input/output options
  samplesheet = null
  mut_type = "snv"
  reference_genome = null
  with_match_normal = true
  outdir = null
  help = false

  // conpair options
  conpair = true 
  marker_bed = null
  marker_txt = null
  concordance_threshold = 90
  contamination_threshold_samples = 0.3
  contamination_threshold_match = 5

  // snv filtering options
  filter_snv = true

  // indel filtering options
  filter_indel = true

  // vcfilter options
  vcfilter_config = null

  // cgpVAF options
  high_depth_bed = null

  // phylogenetics options
  phylogenetics = true 
  with_topology = null 
  phylogenetics_outdir_basename = null

  // schema validation default options
  validate_params                  = true
  validationFailUnrecognisedParams = false
  validationLenientMode            = false
  validationShowHiddenParams       = false
  validationS3PathCheck            = false
  validationSkipDuplicateCheck     = false
}

// use nf-schema for param handling
plugins {
    id 'nf-schema@2.0.0'
}