// Profile details
manifest {
    author = "Anh Phuong Le (Phuong)"
    name = "Pipeline for filtering LCM artifacts and germline mutations post LCMB"
    description = "contact Phuong at al35@sanger.ac.uk"
    version = "0.1"
}


params {
    with_match_normal = true
    
    sample_paths = ""
    concordance_threshold = 90
    contamination_threshold_samples = 0.3
    contamination_threshold_match = 5
    marker_bed = ""
    marker_txt = ""
    vcfilter_config = ""
    mut_type = "snp"
    reference_genome = ""
    high_depth_region = ""
    phylogenetics = true
    outdir = ""
}

