// Profile details
manifest {
    author = "Anh Phuong Le (Phuong)"
    name = "Pipeline for filtering LCM artifacts and germline mutations post LCMB"
    description = "contact Phuong at al35@sanger.ac.uk"
    version = "0.1"
}

params {
    with_match_normal = true
    conpair = true 
    filter_snp = true
    filter_indel = true
    phylogenetics = true 
    snv_then_indel = true
    with_topology = null 

    sample_paths = null
    concordance_threshold = 90
    contamination_threshold_samples = 0.3
    contamination_threshold_match = 5
    marker_bed = null
    marker_txt = null
    vcfilter_indel = "$projectDir/data/indel_default.filter"
    vcfilter_snv = "$projectDir/data/snp_default.filter"
    bbinom_rho_snv = 0.1
    bbinom_rho_indel = 0.2
    reference_genome = null
    reference_genome_dict = null
    reference_genome_idx = null
    high_depth_region = null
    phylogenetics_outdir_basename = null
    outdir = null
}

plugins {
    id 'nf-schema@2.1.1'
}

validation {
    help {
        enabled = true
    }
}