manifest {
    name = 'modified from The Wellcome Sanger Institute HPC cluster profile by Anthony Underwood (@aunderwo)'
    description = 'original config by Anthony Underwood (@aunderwo) https://www.sanger.ac.uk/group/informatics-support-group/'
}

params {
    max_memory = 128.GB
    max_cpus = 64
    max_time = 48.h
    singularity_cachedir = "${projectDir}/singularity"
}


singularity {
    enabled = true
    cacheDir = params.singularity_cachedir
    autoMounts = true
}


process {
    executor = 'lsf'
    errorStrategy = { task.attempt <= 5 ? "retry" : "finish" }
    maxRetries = 5
    withName: conpairPileup {
        memory = '10 GB'
        queue = 'normal'
        cpus = 1
    }
    withName: verifyConcordance {
        container = 'phuongle2510/lcm_py:0.1.1'
        memory = '500 MB'
        queue = 'normal'
        cpus = 1
    }
    withName: conpairContamination {
        container = 'phuongle2510/lcm_py:0.1.1'
        memory = '1000 MB'
        queue = 'normal'
        cpus = 1
    }
    withName: conpairFilter {
        container = 'phuongle2510/lcm_py:0.1.1'
        memory = '1000 MB'
        queue = 'normal'
        cpus = 1
    }
    withName: hairpinFilter {
        memory = '12 GB'
        queue = 'long'
        cpus = 1
    }
    withName: pindelFilter {
        memory = '500 MB'
        queue = 'normal'
        cpus = 1
    }
    withName: cgpVaf {
        memory = { 2000.MB * task.attempt }
        queue = 'normal'
        cpus = 1
    }
    withName: betaBinomFilterIndex {
        container = 'phuongle2510/lcm_r:0.1.1'
        memory = { 500.MB * task.attempt }
        queue = 'normal'
        cpus = 1
    }
    withName: betaBinomFilter {
        memory = '100 MB'
        queue = 'normal'
        cpus = 1
    }
    withName: getPhylogeny {
        container = 'phuongle2510/lcm_phylogeny:0.1.1' 
        memory = { 200.MB * task.attempt }
        queue = 'normal'
        cpus = 1
    }
    withName: mutToTree {
        container = 'phuongle2510/lcm_phylogeny:0.1.1' 
        memory = '100 MB'
        queue = 'normal'
        cpus = 1
    }
    withName: matrixGeneratorOnSamples {
        container = 'phuongle2510/sigprofiler_matrixgenerator:1.3.21'
        memory = '500 MB'
        queue = 'normal'
        cpus = 2
    }
    withName: matrixGeneratorOnBranches {
        container = 'phuongle2510/sigprofiler_matrixgenerator:1.3.21'
        memory = '500 MB'
        queue = 'normal'
        cpus = 2
    }
    withName: concatMatrices {
        container = 'phuongle2510/lcm_py:0.1.1'
        memory = '500 MB'
        queue = 'normal'
        cpus = 1
    }
    withName: sigprofilerPlotSnpBySamples {
        container = 'alextidd/sigprofiler_plotting:1.3.21'
        memory = { 500.MB * task.attempt }
        queue = 'normal'
        cpus = 1
    }
    withName: sigprofilerPlotSnpByBranches {
        container = 'alextidd/sigprofiler_plotting:1.3.21'
        memory = { 1000.MB * task.attempt }
        queue = 'normal'
        cpus = 1
    }
}

executor{
    name = 'lsf'
    perJobMemLimit = true
    poolSize = 4
    submitRateLimit = '5 sec'
    killBatchSize = 50
}

